*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    box-sizing: border-box;
}
nav{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: red;
}
.delet{
    margin-left: 8%;
    margin-top: 13%;
}
.delet h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
}
span{
    color: orange;
}
.delet p{
    color: gray;
    line-height: 22px;
}
.delet a{
    background-color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #efefef;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 20%;
    bottom: 0;
    transform: translateX(-40);
    transition: bottom 1s, left 1s;
}
.images:hover .shapes{
    bottom: 30px;
}
.images:hover .umar{
    left: 35%;
}
footer{
    background: black;
    height: auto;
    width: 100vw;
    font-family: "open sans";
    padding-top: 40px;
    color: #efefef;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.social li{
    margin: 0 10px;
}
.social a{
    text-decoration: none;
    color: #efefef;
}
.social a i{
    font-size: 1.1;
    transition: color .4s ease;
}
.social a:hover i{
    color: red;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.portfolio{
    display: flex;
    flex-direction: column;
    background-color: lightgoldenrodyellow;
    color: black;
    align-items: center;
    padding: 20px;

}
.Gallery{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

}
.Gallery img{
    width: 360px;
    height: 240px;
}

.services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #efefef;
    text-align: center;

}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    font-size: 16px;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, lightgray 50%, lightgoldenrodyellow 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px lightgray;
}
.box img{
    width: 80px;
    height: 80px;
    background-color: lightgoldenrodyellow;
    padding: 10px;

}